{{ define "index.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <script>
    window.onload = function () {

    //Better to construct options first and then pass it as a parameter
    var options = {
    	animationEnabled: true,
    	title:{
    		text: "Total Score"
    	},
    	axisY:{
    		title:"score"
    	},
    	toolTip: {
    		shared: true,
    		reversed: true
    	},
    	data: [
    	{
    		type: "stackedColumn",
    		name: "Individual Score",
    		showInLegend: "true",
    		yValueFormatString: "#,##0.00",
    		dataPoints: [
    		    {{ range $key, $sc := .data.ScoreByLanguage }}
                    { y: {{ $sc.TotalScore.IndividualScore }} , label: {{ $key }} },
                {{ end }}
    		]
    	},
    	{
    		type: "stackedColumn",
    		name: "Team Score",
    		showInLegend: "true",
    		yValueFormatString: "#,##0.00",
    		dataPoints: [
    			{{ range $key, $sc := .data.ScoreByLanguage }}
                    { y: {{ $sc.TotalScore.TeamScore }} , label: {{ $key }} },
                {{ end }}
    		]
    	},
    	{
            type: "stackedColumn",
            name: "Society Score",
            showInLegend: "true",
            yValueFormatString: "#,##0.00",
            dataPoints: [
                {{ range $key, $sc := .data.ScoreByLanguage }}
                    { y: {{ $sc.TotalScore.SocietyScore }} , label: {{ $key }} },
                {{ end }}
            ]
        }]
    };
    $("#chartContainer").CanvasJSChart(options);

    {{ range $key, $sc := .data.ScoreByLanguage }}
        var options = {
            animationEnabled: true,
            title:{
                text: "{{ $key }}"
            },
            axisY :{
                title: "score"
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "stackedArea",
                showInLegend: true,
                name: "Individual Score",
                xValueFormatString: "MMM YYYY",
                yValueFormatString: "#,##0.00 contribute",
                dataPoints: [
                    {{ $sum := 0.0 }}
                    {{ range $man, $mnsc := $sc.MonthlyScore }}
                        {{ $sum = add $sum $mnsc.IndividualScore }}
                        { x: new Date({{ $man }}) , y: {{ $sum }} },
                    {{ end }}
                ]
            }, {
                type: "stackedArea",
                showInLegend: true,
                name: "Team Score",
                xValueFormatString: "MMM YYYY",
                yValueFormatString: "#,##0.00 contribute",
                dataPoints: [
                   {{ $sum := 0.0 }}
                   {{ range $man, $mnsc := $sc.MonthlyScore }}
                       {{ $sum = add $sum $mnsc.TeamScore }}
                       { x: new Date({{ $man }}) , y: {{ $sum }} },
                   {{ end }}
              　]
            },{
                type: "stackedArea",
                showInLegend: true,
                name: "Society Score",
                xValueFormatString: "MMM YYYY",
                yValueFormatString: "#,##0.00 contribute",
                dataPoints: [
                    {{ $sum := 0.0 }}
                    {{ range $man, $mnsc := $sc.MonthlyScore }}
                        {{ $sum = add $sum $mnsc.SocietyScore }}
                        { x: new Date({{ $man }}) , y: {{ $mnsc.SocietyScore }} },
                    {{ end }}
            　   ]
            }]
        };
        $("#{{ $key }}Container").CanvasJSChart(options);

        {{ end }}

    }

    </script>
</head>

<body>
<div id="content">
    <div id="side-bar">
        <img src="{{ .data.ImgURL }}"/><br>
        ユーザー名：{{ .data.UserName }}<br>
        <h3>合計スコア</h3>
        Individualスコア：{{ .data.TotalScore.IndividualScore }}<br>
        Teamスコア：{{ .data.TotalScore.TeamScore }}<br>
        Societyスコア：{{ .data.TotalScore.SocietyScore }}<br>
        <button id="total-button">合計表示</button>
        <h3>言語別詳細</h3>
        {{ range $key, $sc := .data.ScoreByLanguage }}
            <button id="{{ $key }}-button">{{ $key }}</button><br>
        {{ end }}
        <br>
        <br>
        <a href="/logout">ログアウトする</a>
    </div>
    <div id="main">
        <div id="chart-wrap">
            <div id="chartContainer" class="chart" style="height: 370px; width: 100%;"></div>
            {{ range $key, $sc := .data.ScoreByLanguage }}
                <div id="{{ $key }}Container" class="chart" style="height: 370px; width: 100%;"></div>
            {{ end }}
        </div>
        {{ range $key, $sc := .data.ScoreByRepository }}
            <div class="repo-card {{ if $sc.IsOSS }}repo-oss{{ end }}">
                {{ if $sc.IsOSS }}repo-oss{{ end }}
                <h3>{{ $key }}</h3>
                言語比率：
                {{ range $lan, $rate := $sc.LanguageRate }}
                    {{ $lan }}：{{ printf "%0.2f" $rate }}　
                {{ end }}<br>
                <h4>スコア</h4>
                Individualスコア：{{ $sc.Score.IndividualScore }}<br>
                Teamスコア：{{ $sc.Score.TeamScore }}<br>
                Societyスコア：{{ $sc.Score.SocietyScore }}<br>
            </div>
        {{ end }}
    </div>
</div>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="./assets/js/app.js"></script>
<script>
{{ range $key, $sc := .data.ScoreByLanguage }}
    $("#{{ $key }}-button").click(function(){
        $(".chart").hide();
        $("#{{ $key }}Container").show();
    });
{{ end }}
$("#total-button").click(function(){
    $(".chart").hide();
    $("#chartContainer").show();
});
$(window).on('load', function(){
    $(".chart").hide();
    $("#chartContainer").show();
});
</script>
</body>
</html>
{{ end }}
