{{ define "landing.tmpl" }}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <meta charset="utf-8">
    <title>{{ .title }}</title>
</head>

<body>
<div id="landing">
    <div id="login">
        <h1>GitHub Visualizer</h1>
        <a href="/login" class="btn-github">
            <i class="fa fa-github"></i>
            Sign in with GitHub
        </a>
    </div>
</div>

<script src="./assets/js/app.js"></script>

</body>

</html>
{{ end }}